body {
    font-family: Helvetica;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
}

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}


.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: white;
}

.products,
.product-shimmer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
    padding: 40px 10px;
}

.product {
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 40px;
}

.image-container {
    height: 200px;
    overflow: hidden;
}

.product img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    background-position: center center;
}

.product-description {
    padding: 15px;
}

.search-container {
    margin-top: 40px;
    margin-left: 40px;
}

.search-container input {
    height: 30px;
    width: 250px;
}

.search-button {
    margin-left: 20px;
}

.product-shimmer {
    margin-top: 80px;
}

.product-shimmer>.product {
    border: unset;
    background-color: rgb(135, 135, 135);
}

.animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    from {
        background-position: -1000px 0;
    }

    to {
        background-position: 1000px 0;
    }
}

.restaurant {
    margin: 30px;
}

.restaurant-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60vw;
    margin: auto;
}

.restaurant-hero>img {
    /* margin-right: 100px; */
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.dot {
    margin: 0px 8px;
    color: gray;
}

.restaurant-rating {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.4px;
}

.restaurant-cuisines {
    margin-top: 4px;
    font-weight: 600;
    font-size: 16px;
    color: rgb(255, 82, 0);
}