@import "tailwindcss";

.restaurantList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.restaurants {
    width: 300px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 25px;
    margin-top: 20px;
}

.restaurants > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.trim-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}